$primary-color: rgba(108,117,125,.6);
$active-color: #007bff;
$danger-color: #ff073a;
$healty-color: #28a745;


$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1800px;