@import "../../styles/index.scss";

.cases {
    h1 {
        background-color: #555;
        color: white
    }

    .content {
        padding: 1rem 0px;
        background-color: rgba(108,117,125,.0627451);

        .deltas {
            display: inline-block;
            font-size: 10px!important;
            color: $danger-color;
        }

        .delta-total { 
            margin-left: 0.25rem;
        }
    }
}